# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcworkspace/

# Swift Package Manager
/.swiftpm
/Package.resolved

# CocoaPods
Pods/
*.xcscmblueprint
*.xcscmblueprint/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Secrets
*.plist
