<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY2</key>
	<string>02511c57d72749f68d158065a4493626</string>
	<key>API_KEY</key>
	<string>100ae7a438494d8a8460d153ee19de0e</string>
</dict>
</plist>
